{% extends 'main/layout.html' %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">

<body>
    <div id="bg">
        <div id="bg2">
            <div id="bl">
                <div id="learn">About us</div>
                <img src="https://i.yapx.ru/YSKuP.png" alt="guys.png" id="pics">
            </div>
            <div id="sqr2">
                <div id="bl2">A team of young full-stack developers<br>
                    Students of the Bauman Engineering School 1580<br>
                    Who are also trying to learn at least some language<br>
                    Created this magnificent website to help people with a similar problem
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    #sqr2 {
        font-family: 'Krona One';
        font-weight: 400;
        font-size: 180%;
        line-height: 150%;
        background-color: #f5557044;
        width: 80%;
        height: 40%;
        margin-left: 10%;
        border-radius: 20px;
        margin-top: 1%;
    }
    #pics {
        width: 20%;
        height: 30%;
        margin-left: 40%;
        margin-top: 4.5%;
    }
</style>
{% endblock%}