{% extends 'main/layout.html' %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">

<body>
    <div id="header">
        <div id="elem">
            <a href="home">
                <div id="logo">
                    <div id="purp"></div>
                    <div id="r"></div>
                </div>
            </a>
            <a href="about" id="head">
                <div id="about">About</div>
            </a>
            <a href="help" id="head">
                <div id="about">Help</div>
            </a>
            <a href="map" id="head">
                <div id="about">Map</div>
            </a>
            <a href="games" id="head">
                <div id="about">Games</div>
            </a>
            <a href="login1" id="login">
                <div id="txtlogin">Log in</div>
                <img src="https://cdn0.iconfinder.com/data/icons/chinese-new-year-2019-1/512/1068_arrow_forward_arrows_right-1024.png"
                    style="width: 10%;height: 50%;margin-top: 2%;margin-left: 10%;" alt="a.png">
            </a>
        </div>
        <div id="headline"></div>
    </div>
    <div id="bg">
        <div id="bg2">
            <div id="learn">
                <strong>Translate to the exit</strong>
            </div>
            <div id="sqr">
                <img src="https://i.ibb.co/BfqCPVF/11111111111111111.png" alt="map.png" id="pics">
                <img src="https://i.ibb.co/FKCdWDY/111-1.png" alt="map.png" id="pics">
            </div>
            <div id="learn1">
                <strong>Determine sides</strong>
            </div>
            <div id="sqr">
                <img src="https://i.yapx.ru/YTWEc.png" alt="map.png" id="pics">
            </div>
            <div id="footline"></div>
            <div id="footer">
                <div id="ico">
                    <a href="https://t.me/annbono"><img src="https://i.yapx.ru/YSKii.png" alt="tg.png" id="tg"></a>
                    <a href="https://vk.com/anna_bondo"><img src="https://i.yapx.ru/YSKjR.png" alt="vk.png" id="ic"></a>
                </div>
                <div id="sweets">
                    <strong>Info</strong> · <strong>Support</strong> · <strong>Marketing</strong><br>
                    <strong>Terms of Use</strong> · <strong>Privacy Policy</strong>
                </div>
                <div id="cop">
                    © 2024 @lageexforever
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    #pics {
        width: 30%;
        height: 80%;
        margin: 2%;
        margin-top: 2.5%;
    }

    /* header styles */

    #header {
        margin-bottom: 45%;
        border-radius: 20px;
        width: 79.5%;
        background-color: #ffffff;
        height: 10%;
        position: fixed;
        border-radius: 20px 20px 0 0;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
    }

    #arrow {
        background-color: rgb(255, 255, 255);
        width: 10px;
        height: 10px;
    }

    #login:hover {
        background-color: #e9e9e9;
    }

    #login {
        text-decoration: none;
        color: #000000;
        background-color: #FFFFFF;
        transition: background-color 0.6s;
        margin-top: 1.5%;
        height: 4vh;
        width: 15%;
        justify-content: center;
        margin-left: 20%;
        display: flex;
        border-radius: 20px;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
    }

    #elem {
        padding-top: 2%;
        width: 70%;
        display: flex;
        height: 80%;
        justify-content: space-between;
        margin-left: 12%;
        font-family: 'Krona One';
        font-size: 20;
    }

    #logo {
        display: flex;
    }

    #purp {
        height: 50px;
        width: 20px;
        border-radius: 10px;
        background-color: #9C69E2;
    }

    #r {
        margin-left: 4px;
        margin-top: 30px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: #F55571;
    }

    #about:hover {
        color: #9C69E2;
        text-decoration: underline;
    }

    #about {
        margin-top: 2%;
        text-decoration: none;
        transition: text-decoration 1s;
        transition: color 0.4s;
    }

    #head {
        margin-top: 2%;
        text-decoration: none;
        color: black;
    }



    /* footer styles */

    #sweets {
        margin-top: 2.5%;
    }

    #cop {
        margin-top: 1%;
        color: #0000006b;
    }

    #ico {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10%;
    }

    #tg {
        width: 3.4vw;
        height: 3.4vh;
        margin-top: 0.2vh;
    }

    #ic {
        width: 2.5vw;
        height: 4vh;
        margin-bottom: 1vh;
    }

    #footline {
        margin-left: 10%;
        margin-top: 1%;
        width: 80%;
        height: 0.2%;
        background-color: #d8818f9a;
        border-radius: 10px;
    }

    #footer {
        margin-top: 1%;
        background-color: #FFFFFF;
        height: 11%;
        border-radius: 0 0 20px 20px;
        margin-bottom: 10%;
        font-family: 'Krona One';
        font-size: 70%;
        text-align: center;
    }


    /* base styles */

    body {
        background-color: #9C69E2;
    }

    #bg {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 140%;
    }

    #bg2 {
        border-radius: 20px;
        width: 80%;
        height: 100%;
        background-color: #FFFFFF;
        border-radius: 20px 20px 0 0;
    }


    #learn {
        margin-top: 20%;
        font-size: 330%;
        margin-left: 10%;
        line-height: 150%;
        font-family: 'Krona One';
    }

    #learn1 {
        margin-top: 5%;
        font-size: 330%;
        margin-left: 10%;
        line-height: 150%;
        font-family: 'Krona One';
    }

    #sqr {
        display: flex;
        justify-content: center;
        font-family: 'Krona One';
        font-weight: 400;
        font-size: 180%;
        line-height: 150%;
        background-color: #f5557044;
        width: 80%;
        height: 35vh;
        margin-left: 10%;
        border-radius: 20px;
        margin-top: 4%;
    }
</style>
{% endblock %}