{% extends 'main/layout.html' %}

{% block content %}
<body>
    <div id="bg">
        <div id="bg2">
            <div id="learn">
                <strong>Translate to the exit</strong>
            </div>
            <div id="sqr">
                <img src="https://i.ibb.co/BfqCPVF/11111111111111111.png" alt="map.png" id="pics">
                <img src="https://i.ibb.co/FKCdWDY/111-1.png" alt="map.png" id="pics">
            </div>
            <div id="learn1">
                <strong>Determine sides</strong>
            </div>
            <div id="sqr">
                <img src="https://i.yapx.ru/YTWEc.png" alt="map.png" id="pics">
            </div>
        </div>
    </div>
</body>
<style>
    #pics {
        width: 30%;
        height: 50%;
        margin: 2%;
        margin-top: 2.5%;
    }

</style>
{% endblock %}