{% extends 'main/layout.html' %}

{% block content %}
<body>
    <div id="bg">
        <div id="bg2">
            <div id="helpbl">
                <img src="https://i.yapx.ru/YSMd8.png" alt="guys.png" id="pics">
                <div id="blocks">
                    <div id="hcwh">How can we help?</div>
                    <a href="https://otvet.mail.ru/question/25122414">
                        <div id="faq"><strong>FAQ</strong></div>
                    </a>
                    <div id="inform">Got any problems with <br>the website? Please leave <br>your feedback</div>
                    <a href="https://mail.google.com/mail/u/1/#inbox">
                        <div id="faq"><strong>Contact</strong></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    #pics {
    margin-left: 7%;
    margin-top: 9%;
    width: 40%;
    height: 40%;
}
</style>
{% endblock %}