{% load static %}

<head>
    <meta charset= "UTF-8">
    <meta NAME="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
</head>

<header>
    <div id="header">
        <div id="elem">
            <a href="home">
                <div id="logo">
                    <div id="purp"></div>
                    <div id="r"></div>
                </div>
            </a>
            <a href="help" id="head">
                <div id="about">Help</div>
            </a>
            <a href="task" id="head">
                <div id="about">Tasks</div>
            </a>
            <a href="question" id="head">
                <div id="about">Quiz</div>
            </a>
            <a href="cards" id="head">
                <div id="about">Cards</div>
            </a>
            {% if user.is_authenticated %}
            {% csrf_token %}
            <a href="{% url 'logout' %}" id="login">
                <div id="txtlogin">Log out</div>
                <img src="https://cdn0.iconfinder.com/data/icons/chinese-new-year-2019-1/512/1068_arrow_forward_arrows_right-1024.png" style="width: 10%; height: 50%; margin-top: 2%; margin-left: 10%;" alt="a.png">
            </a>
            {% else %}
            <a href="{% url 'login' %}" id="login">
                <div id="txtlogin">Log in</div>
                <img src="https://cdn0.iconfinder.com/data/icons/chinese-new-year-2019-1/512/1068_arrow_forward_arrows_right-1024.png" style="width: 10%; height: 50%; margin-top: 2%; margin-left: 10%;" alt="a.png">
            </a>
            {% endif %}
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
<footer>
    <div id="footer">
        <div id="cop">© 2024 LANGU</div>
    </div>
</footer>

