{% extends 'main/layout.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>

<body>
    <div id="bg">
        <div id="bg2">
            <div class="login-form" id="logform">
                <h1>Login</h1>
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
                <p>Не зарегистрированы? <a href="{% url 'register' %}">Регистрация</a></p>
            </div>
            <img src="https://i.ibb.co/rpc2hn4/111111111.png" alt="map.png" id="pics">
        </div>
    </div>
</body>
<style>

    #pics {
        margin-top: 17%;
        margin-left: 52%;
        width: 25%;
        height: 40%;
    }

a {
    color: #2196F3
}

</style>

{% endblock%}